h1 {
  color: #deafa0;
   text-decoration: overline underline 3px dotted;
  letter-spacing: 4px;
  text-shadow: 2px 2px #FFBE86;
}

body {
  background-color: #e1f0ec;
}  

h1:hover {
  text-shadow: 2px 2px #78CDD7;
  text-decoration: overline underline 3px wavy;
}
 
